<div id="login">
    <div id="login-form">
        <h1>Login</h1>
        <input
            type="text"
            name="username"
            placeholder="Username"
        />
        <input
            type="password"
            name="password"
            placeholder="Password"
        />
    </div>
    <button id="login-set">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="currentColor"
            viewBox="0 0 16 16"
        >
            <path
                d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"
            />
        </svg>
    </button>
</div>
<hr style="width: 100%; margin-top: 30px" />
<div id="register">
    <div id="register-form">
        <h1>Register</h1>
        <input
            type="text"
            name="register-username"
            placeholder="Username"
            disabled
        />
        <input
            type="password"
            name="register-password"
            placeholder="Password"
            disabled
        />
    </div>
    <button
        id="register-send"
        disabled
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="currentColor"
            viewBox="0 0 16 16"
        >
            <path
                d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"
            />
        </svg>
    </button>
</div>
<button id="modal-auth-close">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="whitesmoke"
        viewBox="0 0 16 16"
    >
        <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
        />
    </svg>
</button>
